* {
    margin: 0px;
    text-align: center;
}

header {
    background-color: rgb(190, 190, 190);
}

nav {
    background-color: rgb(220, 220, 220);
}

main {
    background-color: black;
    height: 800px;
}

section {
    background-color: rgb(155, 155, 155);
    height: 50%;
}

aside {
    background-color: rgb(215, 215, 215);
    height: 25%;
}

div {
    background-color: rgb(120, 120, 120);
    height: 25%;
}

footer {
    background-color: rgb(190, 190, 190);
    position: fixed;
    bottom: 0;
    width: 100%;
}