* {
    margin: 0px;
    text-align: center;
    box-sizing: border-box;
}

header {
    background-color: rgb(190, 190, 190);
}

nav {
    background-color: rgb(219, 218, 218);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    background-color: rgb(134, 133, 133);
}

a {
    text-decoration: none;
}

.menu a {
    padding-left: 15px;
}

main {
    background-color: black;
    display: flex;

}

section, aside, div {    
    padding: 15px;
}

section {
    background-color: rgb(155, 155, 155);   
}

aside {
    background-color: rgb(215, 215, 215);    
}

.irrelevante {
    background-color: rgb(120, 120, 120);    
}

footer {
    background-color: rgb(190, 190, 190);
    position: fixed;
    bottom: 0;
    width: 100%;
}